@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
:root {
  --blue: #004489;
  --light-grey: #d3d9df;
  --dark-grey: #b9cbdd;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
}
body h1 {
  font-size: 2.3rem;
  text-transform: uppercase;
  color: #013c77d8;
  padding-top: 4rem;
  padding-bottom: 3rem;
  letter-spacing: 0.12rem;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 1.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0px 7px 6px -3px rgba(0, 0, 0, 0.34);
  height: 75px;
  z-index: 2;
}
header img {
  width: 7rem;
  cursor: pointer;
}
header .hide-desktop img {
  width: 25px;
  cursor: pointer;
}
header .hide-mobile {
  display: none;
}
header nav ul {
  list-style: none;
  width: 90%;
  background-color: #00468b;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 4;
  height: 90%;
}
header nav ul li {
  color: #ffffff;
  padding: 1.5rem;
  text-align: left;
  list-style: none;
}
header nav ul li:first-of-type {
  margin-top: 2rem;
}
header nav ul li a {
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
}
header nav ul li a:hover {
  opacity: 0.6;
}
header nav ul img {
  width: 25px;
  position: absolute;
  right: 7%;
  top: 5%;
  cursor: pointer;
}
header nav ul img:hover {
  opacity: 0.8;
}

.hero {
  background: #d3d9df;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #d3d9df);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-left: 1.1rem;
  text-align: left;
  min-height: 100vh;
  height: 100%;
}
.hero .first-section {
  width: 60%;
}
.hero .first-section h1 {
  font-size: clamp(2.5rem, 10vw, 5rem);
  padding-top: 13rem;
  padding-bottom: 0;
  color: var(--blue);
  letter-spacing: 0.12rem;
}
.hero .first-section p {
  font-size: 1.2rem;
  padding-top: 1.7rem;
  padding-right: 1.1rem;
  line-height: 1.5rem;
  letter-spacing: 0.07rem;
}
.hero .first-section a {
  font-size: 0.9rem;
  padding-right: 2.4rem;
  margin-top: 1.5rem;
  font-weight: 500;
  display: block;
  max-width: 135px;
}
.hero .first-section .button-dark {
  border: 2px solid var(--blue);
  background-color: var(--blue);
  padding: 0.9em 1.8em;
  color: #fff;
}
.hero .first-section .button-dark:hover {
  border: 2px solid var(--blue);
  color: var(--blue);
  background-color: #fff;
  transition: ease-in 0.3s;
}
.hero .first-section .button-light {
  border: 2px solid var(--blue);
  color: var(--blue);
  padding: 0.9em 1.8em;
  margin-bottom: 1rem;
}
.hero .first-section .button-light:hover {
  border: 2px solid var(--blue);
  background-color: var(--blue);
  color: #fff;
  transition: ease-in 0.2s;
}

.about {
  background-color: #fff;
  padding: 1rem;
}
.about p {
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: left;
  padding: 1rem;
  font-weight: 500;
  color: #352b2b;
}
.about p strong {
  font-size: 0.9rem;
  color: #352b2b;
}
.about .graphic {
  display: none;
}
.about .graphic img {
  width: 290px;
}

.Vision {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  position: relative;
}
.Vision::after {
  content: "";
  background: url("images/Corporate gifts.png");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.Vision .card {
  padding: 1rem;
  margin: 1rem auto;
  overflow: hidden;
  border: 0.5px solid var(--dark-grey);
  border-radius: 3%;
  box-shadow: 0px 8px 24px #959da5;
  border-radius: 3%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  z-index: 1;
}
.Vision .card h3 {
  padding: 1rem;
  font-size: 1.2rem;
  color: rgba(59, 35, 35, 0.836);
  text-transform: uppercase;
}
.Vision .card p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2rem;
  color: rgba(0, 0, 0, 0.76);
}

.product-section {
  background-color: #fff;
}
.product-section .product-item {
  margin: 1.5rem;
  border: 0.5px solid #dbdada;
  box-shadow: 0px 8px 8px #959da5;
}
.product-section img {
  width: 80%;
}
.product-section h4 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem;
  background-color: #e3ebf3;
}

.clients {
  background-color: var(--light-grey);
  display: flex;
  overflow-x: hidden;
  padding: 2rem;
  display: none;
}

.contact {
  padding-bottom: 2rem;
}
.contact .form {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--light-grey);
  text-align: left;
  text-transform: uppercase;
  color: var(--blue);
  font-weight: 600;
}
.contact .form input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
  border: none;
}
.contact .form label {
  font-size: 0.8rem;
}
.contact .form .display-message {
  display: none;
}
.contact .form input[type=submit] {
  cursor: pointer;
  margin-top: 1.2rem;
  border: 2px solid var(--blue);
  background-color: var(--blue);
  color: #fff;
  box-shadow: 0px 8px 24px #666c72;
}
.contact .form input[type=submit]:hover {
  border: 2px solid var(--blue);
  color: var(--blue);
  background-color: var(--light-grey);
  transition: ease-in 0.3s;
}
.contact .companycontactdetails {
  margin-top: 1.5rem;
}
.contact .companycontactdetails .contact-item {
  padding: 1.3rem;
  background-color: var(--light-grey);
}
.contact .companycontactdetails .contact-item p {
  font-size: 0.9rem;
}

footer {
  background-color: var(--blue);
  color: #ffffff;
}
footer .logo img {
  padding-top: 2.5rem;
  width: 9rem;
}
footer .logo p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}
footer .social-links {
  text-transform: uppercase;
  font-weight: 600;
  padding: 2rem;
}
footer .social-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer .social-links ul li {
  list-style: none;
  padding-top: 1.4rem;
}
footer .social-links ul li:hover {
  opacity: 0.7;
}
footer .social-links ul li a {
  color: #fff;
}
footer .call {
  padding-bottom: 1.5rem;
}
footer .call p {
  font-weight: 600;
}
footer .copyright {
  background-color: var(--light-grey);
  min-height: 70px;
  height: 100%;
}
footer .copyright p {
  padding-top: 1.5rem;
  font-size: 0.9rem;
  color: black;
}

@media (min-width: 600px) {
  html {
    font-size: 18px;
  }

  .hero .first-section .buttons a {
    display: inline-block;
    max-width: 80%;
    margin-right: 3rem;
  }
  .hero .first-section .buttons a:last-of-type {
    margin-right: 0;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .logo {
    padding-bottom: 1rem;
  }

  .footer-items {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-items .social-links {
    border: 5px solid var(--dark-grey);
  }
  .footer-items .call {
    border-left: 3px solid #fff;
    border: 5px solid var(--dark-grey);
    height: 100%;
    padding-top: 1rem;
  }
  .footer-items .call p {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  header .show-desktop {
    display: flex;
  }
  header .hide-desktop {
    display: none;
  }
  header nav ul {
    position: inherit;
    top: 0;
    width: auto;
    height: auto;
    background: none;
  }
  header nav ul li {
    padding: 0.3rem 1.4rem;
  }
  header nav ul li:first-of-type {
    display: none;
  }
  header nav ul li a {
    color: var(--blue);
    font-size: 0.9rem;
  }
  header nav ul li:hover {
    opacity: 0.9;
  }

  .Vision {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.6rem;
    padding: 0;
  }
  .Vision .card {
    padding: 0.5rem;
  }
  .Vision .card h3 {
    font-size: 0.9rem;
  }
  .Vision .card p {
    font-size: 0.7rem;
  }

  .contact {
    padding: 0;
  }

  footer .footer {
    display: flex;
    justify-content: space-around;
  }
  footer .footer .footer-items .social-links, footer .footer .footer-items .call {
    border: none;
    padding: 0;
    padding: 2.5rem;
  }
  footer .footer .footer-items .call p {
    padding-top: 0;
  }
  footer .footer .footer-items .call p:last-of-type {
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 1023px) {
  html {
    font-size: 18px;
  }

  header nav ul li {
    padding: 0.3rem 1.8rem;
  }
  header nav ul li a {
    font-size: 1.1rem;
  }

  .about p {
    letter-spacing: 0.015rem;
    line-height: 1.7rem;
  }

  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact-item {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-item .form {
    margin: 0;
    padding: 4rem 3rem;
  }
  .contact-item .form h2 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }
  .contact-item .form input {
    margin-bottom: 1.2rem;
  }
  .contact-item .form input[type=submit] {
    margin-top: 2.5rem;
  }
  .contact-item .companycontactdetails {
    margin: 0;
    padding: 2.5rem;
    background-color: var(--light-grey);
  }
  .contact-item .companycontactdetails .contact-items {
    padding: 0.8rem;
    margin: 1rem;
    color: var(--blue);
    font-weight: 500;
    box-shadow: 0px 0px 2px 2px #959da5;
  }
}/*# sourceMappingURL=style.css.map */